@using NLayer.Core.Concreate
@model AppUser

<div class="profile-info">
    <div class="user-info">
        <div class="profile-img">
            <img src="/cork-v3.8.0/@Model.ImageUrl" alt="avatar">
        </div>
        <div class="profile-content">
            <h6 class="">@Model.Name @Model.Surname</h6>
            <p class="">@Model.Title</p>
        </div>
    </div>
</div>