
<div class="layout-px-spacing">
    @*     <div>
    <a href="javascript:void(0);" class="btn btn-primary btn-print action-print">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer align-middle me-2">
    <polyline points="6 9 6 2 18 2 18 9"></polyline>
    <path d="M18 13v3a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-3"></path>
    <path d="M9 22V12h6v10"></path>
    </svg>
    Yazdır
    </a>
    </div>*@
    @*            <div class="middle-content container-xxl p-0">
    <div class="row invoice layout-top-spacing layout-spacing">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="height: auto;">
    <div class="doc-container">
    <div class="row">
    <div class="col-xl-12">
    <div class="invoice-container">
    <div class="invoice-inbox">
    <div id="ct" class="">
    <div class="invoice-00001">
    <div class="content-section">
    <div class="inv--head-section inv--detail-section">
    <div class="col-sm-12 col-12 mr-auto">
    <div class="d-flex justify-content-center align-items-center" style="height: auto;">
    <img src="/cork-v3.8.0/Metaakdeniz.png" alt="company" style="width:40%">
    </div>
    </div>
    </div>
    <div class="inv--detail-section inv--customer-detail-section">
    <div class="row">
    <div class="col-xl-8 col-lg-7 col-md-6 col-sm-4">
    <p class="inv-to"><img src="/cork-v3.8.0/Class-Foto/@Model.Class.ImageUrl" alt="company" style="width:14%"> @Model.Class.Name Dersi Yoklaması</p>
    <p class="inv-street-addr"><strong>Yoklama-İsmi:@Model.Name</strong></p>
    <p class="inv-street-addr"><strong>Açıklama:@Model.Description</strong> </p>
    <p class="inv-street-addr"><strong>Ders Adı:@Model.Class.Name</strong></p>
    </div>
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12 text-sm-end">
    <h6 class=" inv-title"><strong>İLETİŞİM</strong></h6>
    <p class="inv-street-addr"><strong>Telefon:</strong></p>
    <p class="inv-street-addr"><strong>E-Posta:</strong> </p>
    <p class="inv-street-addr"><strong>Adres:</strong></p>
    </div>
    </div>
    </div>
    @await Component.InvokeAsync("ViewPayment")
    <div class="inv--note">
    <div class="row mt-4">
    <div class="col-sm-12 col-12">
    <p>Not: Bizimle çalıştığınız için teşekkür eder, iyi çalışmalar dileriz.</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>*@
