@model NLayer.Core.DTOs.ClassDtos.ClassDto
@{
    ViewData["Title"] = "Create";
}
@*<div>
    <form asp-controller="Class" asp-action="Create" method="post">
        <input asp-for="@Model.Name"/>
        <input asp-for="@Model.WeekCount"/>
        <select name="Condition">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>

        <button class="btn btn-primary" type="submit">Kaydet</button>
    </form>
</div>*@

